.media-1-1,
.media-4-3,
.media-16-9 {
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
  }
  & > img,
  & > picture,
  & > video,
  & > iframe {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.media-1-1::before { padding-top: 100% }
.media-4-3::before { padding-top: 75% }
.media-16-9::before { padding-top: 56.25% }

.object {
  &-cover { object-fit: cover }

  &-left-center { object-position: left center }
  &-center-center { object-position: center center }
  &-right-center { object-position: right center }

  &-left-bottom { object-position: left bottom }
  &-center-bottom { object-position: center bottom }
  &-right-bottom { object-position: right bottom }

  &-left-top { object-position: left top }
  &-center-top { object-position: center top }
  &-right-top { object-position: right top }
}
